# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal

# Sensitive files and directories
.dlt/
.DS_Store
.cursor/
dlthub-sandbox-6f4b18073864.json
config/bigquery_credentials.json\
venv/
.venv/